<% if (@sapien == current_sapien) %>
	<a href="<%= inspirers_path(@sapien.agnomen) %>">
		<%= pluralize(@sapien.inspirers.count, "inspirer") %>
	</a>
	<br/>
	<a href="<%= admirers_path(@sapien.agnomen) %>">
		<%= pluralize(@sapien.admirers.count, "admirer") %>
	</a>
<% else %>
	<%= @sapien.inspirers.count %>Inspirers<br/>
	<span id="numberofadmirers"><%= @sapien.admirers.count %></span>Admirers
<% end %>