<div class="profilepage">
<h3><%= @sapien.agnomen %></h3>
<%= image_tag(@sapien.avatar, :size => "200x200")%><br/>
<%= render 'profiles/stats' %>
<%= render 'admire_form' if signed_in? %>
<!-- <audio src="/audios/music.mp3" autoplay controls></audio> -->
<h4><%= @sapien.agnomen %>'s public thoughts</h4>
<%if @thoughts %>
	<% @thoughts.each do |thought|%>
		<%= link_to thought.content, thought_path(thought) %>
		<%= time_ago_in_words(thought.created_at) %> ago
		<br>
	<%end%>
<%end%>
</div>