<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @thought.sapien.agnomen %>
</p>

<p>
  <b>Content:</b>
  <%= @thought.content %>
</p>


<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', my_thoughts_path %>
