<!DOCTYPE html>
<html>
<head>
  <title>Animus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" id="mainNavBar">
		<div id="mainTitle"><p>Animus</p></div>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	    <ul class="nav">
      <div id="navigationlinks">
		    <a href="../thoughts"><div class="naval">Home</div></a>
			<% if sapien_signed_in? %>
			    <a href="../thoughts/my_thoughts"><div class="naval">My thoughts</div></a>
			    <a href="../thoughts/others_thoughts"><div class="naval">Public Board</div></a>
				<form action="/profiles/search">
					<div class="input-group shortsearch">
            			<input type="text" class="form-control" placeholder="Search by exact agnomen or email" name="search">
            			<span class="input-group-btn">
              			<button class="btn btn-success" type="submit" >Go!</button>
            			</span>
          			</div>
        		</form>
          		<!-- <div class="shortsearch">
          			<%= form_tag(:controller => "profiles", :action => "search") do %>
          				<%= text_field_tag('search')%>
          			<%= submit_tag("go", class: "btn btn-default")%>
          			<%end%>
          		</div> -->
          		<a href="/thoughts/new"><div class="naval">New Thought</div></a>
			<% else %>
			<a href="/sapiens/sign_up"><div class="naval access">Sign up</div></a>
			<a href="/sapiens/sign_in"><div class="naval access">Sign in</div></a>
			<% end %>
  	</div>
	  	</ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="../about">About</a>
        </li>
      </ul> -->
    </nav>
  </div>
</header>
		<% if sapien_signed_in? %>
			<aside id="left-side-bar">
				<div class="centerallign">
		          		<div id="nav-avatar">
							<%= image_tag(current_sapien.avatar, :size => "100x100") %>
						</div>
						<div id="agnomen">
						<span><%= link_to current_sapien.agnomen, edit_sapien_registration_path %></span>
						</div>
						<div class="stats">
							<a>
								<%= current_sapien.admirers.count %><br/>
								<%= link_to "Admirers", admirers_path(current_sapien.id)%>
							</a>
						</div>
						<div class="stats">
							<a>
								<span id="numberofinspirers"><%= current_sapien.inspirers.count %></span><br/>
								<%= link_to "Inspirers", inspirers_path(current_sapien.id)%>
							</a>
						</div>
						<div class="stats" style="padding-top:8px; padding-bottom:10px;">
		          			<%= link_to "Sign Out", destroy_sapien_session_path, method: :delete %>
		          		</div>
						</div>
				</div>
			</aside>
		<%end%>
	<div class="pagebody">
	    <!--<% if flash[:notice]%>
	    	<div class="alert">
	    		<button class="close" data-dismiss="alert">x</button>
	    		<% flash[:notice] %>
	    	</div> 
	    <% end %> -->
		<%= yield %>
	</div>
</body>
</html>
