<!DOCTYPE html>
<html>
<head>
  <title>Animus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="mainNavBar">
		<div id="mainTitle"><p>Animus</p></div>
	<div id="navigationlinks">
	    <ul class="nav nav-pills">
		    <li><a href="../thoughts#index">Home</a></li>
		    <li><a href="../thoughts/my_thoughts">My thoughts</a></li>
		    <li><a href="../thoughts/others_thoughts">Public Board</a></li>
			<% if sapien_signed_in? %>
				<!-- <div class="input-group shortsearch">
            		<input type="text" class="form-control" placeholder="Search by exact agnomen or email">
            		<span class="input-group-btn">
              		<button class="btn btn-default" type="button" >Go!</button>
            		</span>
          		</div> -->
          		<div class="shortsearch">
          			<%= form_tag(:controller => "profiles", :action => "search") do %>
          				<%= text_field_tag('search')%>
          			<%= submit_tag("go", class: "btn btn-default")%>
          			<%end%>
          		</div>
          		<li class="access"><%= link_to "Sign Out", destroy_sapien_session_path, method: :delete %></li>
				<li class="access"><%= link_to current_sapien.agnomen, edit_sapien_registration_path %></li>
			<% else %>
				<li class="access"><%= link_to "Sign Up", new_sapien_registration_path %></li>
				<li class="access"><%= link_to "Sign In", new_sapien_session_path %></li>
			<% end %>
	  	</ul>
  	</div>
	</header>
	<div>
	    <!--<% if flash[:notice]%>
	    	<div class="alert">
	    		<button class="close" data-dismiss="alert">x</button>
	    		<% flash[:notice] %>
	    	</div> 
	    <% end %> -->
		<%= yield %>
	</div>
</body>
</html>
